.ukm-header-menu div.item img {
    width: 100px !important;
    height: 100px !important;
}
.ukm-header-menu .second {
    margin: 0 !important;
}
.ukm-header-menu .first h1 {
    font-size: 40px;
}
.ukm-header-menu .first div.item:first-child {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.ukm-header-menu .first div.item:last-child {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}